
<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="2.5">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>Resteasy Intercom</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>server.application.CustomerRelationshipManagementApplication</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Intercom WebApplication</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

</web-app>