<web-app version="2.5">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>Intercom WebApplication</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>server.application.CustomerRelationshipManagementApplication</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Intercom WebApplication</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

</web-app>